[run]
branch = True
source = oceanstream
omit = 
    */tests/*
    */__init__.py
    oceanstream/app.py
    oceanstream/cli_new.py
    oceanstream/sensors/processors/example_sensor.py
    oceanstream/storage/azure_blob.py

[report]
show_missing = True
skip_covered = True
fail_under = 80
precision = 1
