# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/
.history/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.ipynb_checkpoints/
.python-version

# Virtual envs
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Test & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/
coverage_html/

# Logs
*.log

# Data outputs
out/
**/out/
**/geoparquet/

# Documentation build
.docs-website/site/
docs/site/

# Local overrides
.env
.env.*

# OS cruft
Thumbs.db
raw_data

web_app

